/* styles.css */

/* Basic reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   line-height: 1.6;
   background-color: #f4f4f4;
   color: #333;
}

/* Header and navigation styles */

header {
   background-color: #FF69B4;
   color: #fff;
   padding: 1rem;
   text-align: center;
}

nav {
   background-color: #333;
   padding: 0.5rem;
}
section {
   padding: 20px;
   flex-wrap: wrap;
}
nav ul {
   list-style: none;
   display: flex;
   justify-content: center;
}

nav ul li {
   margin: 0 1rem;
}

nav ul li a {
   color: #fff;
   text-decoration: none;
}

/* Main content styling */
main {
   display: flex;
   margin: 20px;
   gap: 20px;
}

article {
   flex: 3;
   background: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px #FF1493
   ;
}

aside {
   flex: 1;
   background-color: #e2e2e2;
   padding: 20px;
   border-radius: 8px;
}

/* Image styling */
img {
   max-width: 30%;
   display: block;
   margin: 10px 0;
}

/* Footer styling */
footer {
   background-color: #FF69B4;
   color: #fff;
   text-align: center;
   padding: 1rem;
   position: fixed;
   bottom: 0;
   width: 100%;
}
